<h1>Jobs</h1>
<%= link_to 'Post Job', new_job_path %><br>
<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, job_path(job) %>, <%= job.company.name %>, <%= job.company.location %>
    </li>
  <% end %>
</ul>

<%= link_to 'All companies', companies_path %><br>

