<h2>
  <%= @job.title%>
</h2>
<%= link_to 'Edit job posting', edit_job_path %><br>
Location: <%= @job.company.location%>
Name: <%= link_to @job.company.name, company_path(@job.company) %>
Description: <%= @job.description%><br>

<%= link_to 'Back', jobs_path %><br>

